In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("WHO-COVID-19-global-table-data.csv")
data1 = pd.read_csv("vaccination-data.csv")

In [3]:
data

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
Global,NaN,771549718,9898.59161,31939,0.409761,0,6974473,89.478952,1359,0.017435,0,NaN
United States of America,Americas,103436829,31249.54700,0,0.000000,0,1136920,343.478000,0,0.000000,0,NaN
China,Western Pacific,99316932,6750.34400,284,0.019000,0,121764,8.276000,0,0.000000,0,NaN
India,South-East Asia,45001052,3260.93500,1372,0.099000,0,533291,38.644000,1254,0.091000,0,NaN
France,Europe,38997490,59959.83100,0,0.000000,0,167985,258.282000,0,0.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Tokelau,Western Pacific,80,5925.92600,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Holy See,Europe,26,3213.84400,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Pitcairn Islands,Western Pacific,4,8000.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Democratic People's Republic of Korea,South-East Asia,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Turkmenistan,Europe,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN

In [4]:
data1

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Andorra,AND,EURO,REPORTING,2023-09-24,157072.0,57913,203.300,73.276,53501,67.694,NaN,2021-01-20,4.0,43071.0,54.497
1,Anguilla,AIA,AMRO,REPORTING,2023-06-02,24611.0,10854,164.051,72.350,10380,69.191,NaN,2021-02-05,2.0,3046.0,20.304
2,Bahamas,BHS,AMRO,REPORTING,2023-06-02,366359.0,174810,93.163,44.453,166972,42.460,NaN,2021-03-14,4.0,33717.0,8.574
3,Barbados,BRB,AMRO,REPORTING,2023-06-02,381721.0,163846,132.830,57.015,155036,53.949,NaN,2021-01-08,5.0,62839.0,21.867
4,Belarus,BLR,EURO,REPORTING,2023-09-03,22511000.0,6440777,238.200,67.244,6356035,66.360,NaN,2021-02-03,5.0,5720777.0,59.727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,ESP,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,NaN,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,CHE,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,NaN,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,SYR,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,NaN,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,TLS,SEARO,REPORTING,2023-10-18,2025301.0,886195,153.613,67.215,801019,60.755,NaN,2021-04-07,4.0,338087.0,25.643
228,Viet Nam,VNM,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,NaN,2021-03-08,6.0,57975220.0,59.560

In [5]:
# Find which country has max number of 1st vaccination dose.
k = 0
l = []
for x in data1["PERSONS_VACCINATED_1PLUS_DOSE"]:
    if x == max(data1["PERSONS_VACCINATED_1PLUS_DOSE"]):
        l.append(k)
    else:
        k+=1
for x in l:
    print(data1.iloc[x])

COUNTRY                                        China
ISO3                                             CHN
WHO_REGION                                      WPRO
DATA_SOURCE                                REPORTING
DATE_UPDATED                              2023-04-20
TOTAL_VACCINATIONS                      3516880717.0
PERSONS_VACCINATED_1PLUS_DOSE             1318026807
TOTAL_VACCINATIONS_PER100                    239.034
PERSONS_VACCINATED_1PLUS_DOSE_PER100          89.583
PERSONS_LAST_DOSE                         1284479582
PERSONS_LAST_DOSE_PER100                      87.303
VACCINES_USED                                    NaN
FIRST_VACCINE_DATE                        2020-07-22
NUMBER_VACCINES_TYPES_USED                       8.0
PERSONS_BOOSTER_ADD_DOSE                 834060133.0
PERSONS_BOOSTER_ADD_DOSE_PER100               56.689
Name: 180, dtype: object

In [6]:
# Find which country has min nunber of booster dose.
j = 0
l = []
for x in data1["PERSONS_BOOSTER_ADD_DOSE"]:
    if x == min(data1["PERSONS_BOOSTER_ADD_DOSE"]):
        l.append(j)
    else:
        j+=1
for x in l:
    print(data1.iloc[x]["COUNTRY"])

Montenegro
Saint Lucia

In [7]:
grouped = data1.groupby(by = "WHO_REGION").sum()

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_40469/2556941894.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = data1.groupby(by = "WHO_REGION").sum()

In [8]:
grouped.columns

Index(['TOTAL_VACCINATIONS', 'PERSONS_VACCINATED_1PLUS_DOSE',
       'TOTAL_VACCINATIONS_PER100', 'PERSONS_VACCINATED_1PLUS_DOSE_PER100',
       'PERSONS_LAST_DOSE', 'PERSONS_LAST_DOSE_PER100', 'VACCINES_USED',
       'NUMBER_VACCINES_TYPES_USED', 'PERSONS_BOOSTER_ADD_DOSE',
       'PERSONS_BOOSTER_ADD_DOSE_PER100'],
      dtype='object')

In [9]:
grouped["percentage_of_people_with_1_plus_dose"] = grouped.apply(lambda x : (x["PERSONS_VACCINATED_1PLUS_DOSE"]/x["TOTAL_VACCINATIONS"])*100, axis=1)

In [10]:
grouped

,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100,percentage_of_people_with_1_plus_dose
WHO_REGION,,,,,,,,,,,
AFRO,6.452482e+08,439225865,3412.533,2041.546,367506315,1729.502,0.0,137.0,6.389709e+07,386.765,68.070838
AMRO,2.127861e+09,830609493,8877.784,3592.101,728327636,3269.357,0.0,220.0,4.338426e+08,1588.331,39.034951
EMRO,9.015403e+08,438297403,2573.466,1224.528,377198942,1107.274,0.0,232.0,1.391966e+08,417.050,48.616510
EURO,1.739008e+09,634593727,10579.571,3991.723,603979817,3827.472,0.0,338.0,3.297040e+08,2487.902,36.491712
OTHER,7.110400e+04,26681,183.500,68.860,26346,67.995,0.0,3.0,1.831000e+04,47.255,37.523909
SEARO,3.357730e+09,1527441428,1907.742,807.298,1400500586,735.710,0.0,64.0,4.297883e+08,364.732,45.490295
WPRO,4.762007e+09,1727424963,7750.228,2934.479,1680562186,2786.087,0.0,132.0,1.089758e+09,1605.319,36.275146

In [11]:
grouped["percentage_of_people_with_booster_dose"] = grouped.apply(lambda x : (x["PERSONS_BOOSTER_ADD_DOSE"]/x["TOTAL_VACCINATIONS"])*100, axis=1)

In [12]:
grouped

,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100,percentage_of_people_with_1_plus_dose,percentage_of_people_with_booster_dose
WHO_REGION,,,,,,,,,,,,
AFRO,6.452482e+08,439225865,3412.533,2041.546,367506315,1729.502,0.0,137.0,6.389709e+07,386.765,68.070838,9.902715
AMRO,2.127861e+09,830609493,8877.784,3592.101,728327636,3269.357,0.0,220.0,4.338426e+08,1588.331,39.034951,20.388672
EMRO,9.015403e+08,438297403,2573.466,1224.528,377198942,1107.274,0.0,232.0,1.391966e+08,417.050,48.616510,15.439867
EURO,1.739008e+09,634593727,10579.571,3991.723,603979817,3827.472,0.0,338.0,3.297040e+08,2487.902,36.491712,18.959317
OTHER,7.110400e+04,26681,183.500,68.860,26346,67.995,0.0,3.0,1.831000e+04,47.255,37.523909,25.751013
SEARO,3.357730e+09,1527441428,1907.742,807.298,1400500586,735.710,0.0,64.0,4.297883e+08,364.732,45.490295,12.799965
WPRO,4.762007e+09,1727424963,7750.228,2934.479,1680562186,2786.087,0.0,132.0,1.089758e+09,1605.319,36.275146,22.884437

## Covid-19 Mortality Rate

In [13]:
data

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
Global,NaN,771549718,9898.59161,31939,0.409761,0,6974473,89.478952,1359,0.017435,0,NaN
United States of America,Americas,103436829,31249.54700,0,0.000000,0,1136920,343.478000,0,0.000000,0,NaN
China,Western Pacific,99316932,6750.34400,284,0.019000,0,121764,8.276000,0,0.000000,0,NaN
India,South-East Asia,45001052,3260.93500,1372,0.099000,0,533291,38.644000,1254,0.091000,0,NaN
France,Europe,38997490,59959.83100,0,0.000000,0,167985,258.282000,0,0.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Tokelau,Western Pacific,80,5925.92600,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Holy See,Europe,26,3213.84400,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Pitcairn Islands,Western Pacific,4,8000.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Democratic People's Republic of Korea,South-East Asia,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Turkmenistan,Europe,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN

In [14]:
data.columns

Index(['Name', 'WHO Region', 'Cases - cumulative total',
       'Cases - cumulative total per 100000 population',
       'Cases - newly reported in last 7 days',
       'Cases - newly reported in last 7 days per 100000 population',
       'Cases - newly reported in last 24 hours', 'Deaths - cumulative total',
       'Deaths - cumulative total per 100000 population',
       'Deaths - newly reported in last 7 days',
       'Deaths - newly reported in last 7 days per 100000 population',
       'Deaths - newly reported in last 24 hours'],
      dtype='object')

In [15]:
data.reset_index(inplace = True)

In [16]:
data

,index,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,771549718,9898.59161,31939,0.409761,0,6974473,89.478952,1359,0.017435,0,NaN
1,United States of America,Americas,103436829,31249.54700,0,0.000000,0,1136920,343.478000,0,0.000000,0,NaN
2,China,Western Pacific,99316932,6750.34400,284,0.019000,0,121764,8.276000,0,0.000000,0,NaN
3,India,South-East Asia,45001052,3260.93500,1372,0.099000,0,533291,38.644000,1254,0.091000,0,NaN
4,France,Europe,38997490,59959.83100,0,0.000000,0,167985,258.282000,0,0.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Tokelau,Western Pacific,80,5925.92600,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
234,Holy See,Europe,26,3213.84400,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
235,Pitcairn Islands,Western Pacific,4,8000.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
236,Democratic People's Republic of Korea,South-East Asia,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
237,Turkmenistan,Europe,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN

In [17]:
data["Deaths - newly reported in last 24 hours"].dropna()

Series([], Name: Deaths - newly reported in last 24 hours, dtype: float64)

In [18]:
data["Deaths - newly reported in last 7 days per 100000 population"].unique()

array([0])

In [19]:
data.groupby(by = "Name").describe()

                      WHO Region                                       \
                           count          mean           std      min
Name
Africa                      50.0  1.910678e+05  5.745954e+05   2166.0
Americas                    56.0  3.452111e+06  1.460942e+07    837.0
Eastern Mediterranean       22.0  1.063580e+06  1.597378e+06  11945.0
Europe                      62.0  4.462419e+06  8.576489e+06      0.0
Other                        1.0  7.640000e+02           NaN    764.0
South-East Asia             11.0  5.564411e+06  1.326522e+07      0.0
Western Pacific             35.0  5.925715e+06  1.823070e+07      4.0

                                                                      \
                             25%        50%         75%          max
Name
Africa                  19290.00    59070.0   171816.50    4072533.0
Americas                12005.75    77988.0  1052975.00  103436829.0
Eastern Mediterranean  269994.50   681523.0  1218268.25    7619981.0
Europe                 182877.75  1289094.5  4600110.00   38997490.0
Other                     764.00      764.0      764.00        764.0
South-East Asia        124695.50   672597.0  3401905.50   45001052.0
Western Pacific          7763.50    46864.0  1702573.50   99316932.0

                      Cases - cumulative total                ...  \
                                         count          mean  ...
Name                                                          ...
Africa                                    50.0   5077.073980  ...
Americas                                  56.0  23035.615321  ...
Eastern Mediterranean                     22.0   8381.095818  ...
Europe                                    62.0  35677.088968  ...
Other                                      0.0           NaN  ...
South-East Asia                           11.0   6001.582182  ...
Western Pacific                           35.0  24314.859600  ...

                      Deaths - newly reported in last 7 days per 100000 population  \
                                                                               75%
Name
Africa                                                               0.0
Americas                                                             0.0
Eastern Mediterranean                                                0.0
Europe                                                               0.0
Other                                                                0.0
South-East Asia                                                      0.0
Western Pacific                                                      0.0

                           Deaths - newly reported in last 24 hours           \
                       max                                    count mean std
Name
Africa                 0.0                                      0.0  NaN NaN
Americas               0.0                                      0.0  NaN NaN
Eastern Mediterranean  0.0                                      0.0  NaN NaN
Europe                 0.0                                      0.0  NaN NaN
Other                  0.0                                      0.0  NaN NaN
South-East Asia        0.0                                      0.0  NaN NaN
Western Pacific        0.0                                      0.0  NaN NaN


                      min 25% 50% 75% max
Name
Africa                NaN NaN NaN NaN NaN
Americas              NaN NaN NaN NaN NaN
Eastern Mediterranean NaN NaN NaN NaN NaN
Europe                NaN NaN NaN NaN NaN
Other                 NaN NaN NaN NaN NaN
South-East Asia       NaN NaN NaN NaN NaN
Western Pacific       NaN NaN NaN NaN NaN

[7 rows x 88 columns]

In [20]:
data

,index,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,771549718,9898.59161,31939,0.409761,0,6974473,89.478952,1359,0.017435,0,NaN
1,United States of America,Americas,103436829,31249.54700,0,0.000000,0,1136920,343.478000,0,0.000000,0,NaN
2,China,Western Pacific,99316932,6750.34400,284,0.019000,0,121764,8.276000,0,0.000000,0,NaN
3,India,South-East Asia,45001052,3260.93500,1372,0.099000,0,533291,38.644000,1254,0.091000,0,NaN
4,France,Europe,38997490,59959.83100,0,0.000000,0,167985,258.282000,0,0.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Tokelau,Western Pacific,80,5925.92600,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
234,Holy See,Europe,26,3213.84400,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
235,Pitcairn Islands,Western Pacific,4,8000.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
236,Democratic People's Republic of Korea,South-East Asia,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
237,Turkmenistan,Europe,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN

In [21]:
data1.shape

(229, 16)

In [22]:
data = data.iloc[1:, :] # .iloc[1:, :] first colon represents numebr of rows and second colon represents number of columns

In [23]:
data.shape

(237, 13)

In [28]:
data[~data["index"].isin(data1.COUNTRY)] #countries that don't have any vaccination data

,index,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
12,Türkiye,Europe,17004677,20162.278,0,0.0,0,101419,120.252,0,0.0,0,NaN
78,"occupied Palestinian territory, including east...",Eastern Mediterranean,703228,13784.962,0,0.0,0,5708,111.891,0,0.0,0,NaN
92,Réunion,Africa,494595,55242.753,0,0.0,0,921,102.869,0,0.0,0,NaN
105,Kosovo[1],Europe,274279,15274.500,0,0.0,0,3212,178.875,0,0.0,0,NaN
159,Mayotte,Africa,42027,15404.945,0,0.0,0,187,68.545,0,0.0,0,NaN
175,United States Virgin Islands,Americas,25389,24313.143,0,0.0,0,132,126.407,0,0.0,0,NaN
197,Saint Martin,Americas,12324,31878.735,0,0.0,0,46,118.989,0,0.0,0,NaN
219,Saint Barthélemy,Americas,5507,55710.673,0,0.0,0,5,50.582,0,0.0,0,NaN
224,Saint Pierre and Miquelon,Americas,3426,59119.931,0,0.0,0,2,34.513,0,0.0,0,NaN
232,Other,Other,764,NaN,0,NaN,0,13,NaN,0,NaN,0,NaN
234,Holy See,Europe,26,3213.844,0,0.0,0,0,0.000,0,0.0,0,NaN
236,Democratic People's Republic of Korea,South-East Asia,0,0.000,0,0.0,0,0,0.000,0,0.0,0,NaN

In [27]:
data1.shape

(229, 16)

In [36]:
data[~data["index"].isin(data1.COUNTRY)] #countries that have vaccination data

,index,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
12,Türkiye,Europe,17004677,20162.278,0,0.0,0,101419,120.252,0,0.0,0,NaN
78,"occupied Palestinian territory, including east...",Eastern Mediterranean,703228,13784.962,0,0.0,0,5708,111.891,0,0.0,0,NaN
92,Réunion,Africa,494595,55242.753,0,0.0,0,921,102.869,0,0.0,0,NaN
105,Kosovo[1],Europe,274279,15274.500,0,0.0,0,3212,178.875,0,0.0,0,NaN
159,Mayotte,Africa,42027,15404.945,0,0.0,0,187,68.545,0,0.0,0,NaN
175,United States Virgin Islands,Americas,25389,24313.143,0,0.0,0,132,126.407,0,0.0,0,NaN
197,Saint Martin,Americas,12324,31878.735,0,0.0,0,46,118.989,0,0.0,0,NaN
219,Saint Barthélemy,Americas,5507,55710.673,0,0.0,0,5,50.582,0,0.0,0,NaN
224,Saint Pierre and Miquelon,Americas,3426,59119.931,0,0.0,0,2,34.513,0,0.0,0,NaN
232,Other,Other,764,NaN,0,NaN,0,13,NaN,0,NaN,0,NaN
234,Holy See,Europe,26,3213.844,0,0.0,0,0,0.000,0,0.0,0,NaN
236,Democratic People's Republic of Korea,South-East Asia,0,0.000,0,0.0,0,0,0.000,0,0.0,0,NaN

In [31]:
data1

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Andorra,AND,EURO,REPORTING,2023-09-24,157072.0,57913,203.300,73.276,53501,67.694,NaN,2021-01-20,4.0,43071.0,54.497
1,Anguilla,AIA,AMRO,REPORTING,2023-06-02,24611.0,10854,164.051,72.350,10380,69.191,NaN,2021-02-05,2.0,3046.0,20.304
2,Bahamas,BHS,AMRO,REPORTING,2023-06-02,366359.0,174810,93.163,44.453,166972,42.460,NaN,2021-03-14,4.0,33717.0,8.574
3,Barbados,BRB,AMRO,REPORTING,2023-06-02,381721.0,163846,132.830,57.015,155036,53.949,NaN,2021-01-08,5.0,62839.0,21.867
4,Belarus,BLR,EURO,REPORTING,2023-09-03,22511000.0,6440777,238.200,67.244,6356035,66.360,NaN,2021-02-03,5.0,5720777.0,59.727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,ESP,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,79.029,NaN,2020-12-30,4.0,26573833.0,56.024
225,Switzerland,CHE,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,65.847,NaN,2020-12-23,6.0,4996650.0,57.490
226,Syrian Arab Republic,SYR,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,NaN,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,TLS,SEARO,REPORTING,2023-10-18,2025301.0,886195,153.613,67.215,801019,60.755,NaN,2021-04-07,4.0,338087.0,25.643
228,Viet Nam,VNM,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,88.312,NaN,2021-03-08,6.0,57975220.0,59.560

In [32]:
vaccination_data = data1

In [35]:
vaccination_data[~vaccination_data.COUNTRY.isin(data["index"])]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
9,"Bonaire, Sint Eustatius and Saba",BES,AMRO,OWID,2021-09-01,35845.0,19109,137.934,73.533,16736,64.401,NaN,NaN,2.0,NaN,NaN
22,Kosovo,XKX,EURO,REPORTING,2023-01-15,1836901.0,904558,NaN,50.758,824752,46.279,NaN,2021-03-31,2.0,105624.0,5.927
170,occupied Palestinian territory,PSE,EMRO,REPORTING,2022-10-18,3748571.0,2012767,73.481,39.455,1776973,34.833,NaN,2021-02-02,10.0,336967.0,6.605
201,Turkey,TUR,EURO,REPORTING,2023-01-29,139694693.0,50974980,NaN,60.735,50670345,59.770,NaN,NaN,3.0,27896331.0,32.906

# data normalization is the process of establishing the relationship between data-frames to remove inconsistent data

In [37]:
life_death_ratio = data

In [41]:
life_death_ratio[life_death_ratio["index"] == "Türkiye"]["index"] = "Turkey"

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_40469/2503549165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_death_ratio[life_death_ratio["index"] == "Türkiye"]["index"] = "Turkey"

In [44]:
life_death_ratio[life_death_ratio["index"] == "Turkey"]

Empty DataFrame
Columns: [index, Name, WHO Region, Cases - cumulative total, Cases - cumulative total per 100000 population, Cases - newly reported in last 7 days, Cases - newly reported in last 7 days per 100000 population, Cases - newly reported in last 24 hours, Deaths - cumulative total, Deaths - cumulative total per 100000 population, Deaths - newly reported in last 7 days, Deaths - newly reported in last 7 days per 100000 population, Deaths - newly reported in last 24 hours]
Index: []

In [45]:
life_death_ratio["index"] = life_death_ratio["index"].apply(lambda x : "Turkey" if x == "Türkiye" else x)

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_40469/2502786843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_death_ratio["index"] = life_death_ratio["index"].apply(lambda x : "Turkey" if x == "Türkiye" else x)

In [46]:
life_death_ratio[life_death_ratio["index"] == "Turkey"]

,index,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
12,Turkey,Europe,17004677,20162.278,0,0.0,0,101419,120.252,0,0.0,0,NaN

In [47]:
life_death_ratio["index"] = life_death_ratio["index"].apply(lambda x : "Kosovo" if x == "Kosovo[1]" else x)

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_40469/1728382536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_death_ratio["index"] = life_death_ratio["index"].apply(lambda x : "Kosovo" if x == "Kosovo[1]" else x)

In [48]:
life_death_ratio[life_death_ratio["index"] == "Kosovo"]

,index,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
105,Kosovo,Europe,274279,15274.5,0,0.0,0,3212,178.875,0,0.0,0,NaN

In [58]:
life_death_ratio = life_death_ratio[life_death_ratio["index"].isin(vaccination_data.COUNTRY)]

In [59]:
vaccination_data = vaccination_data[vaccination_data["COUNTRY"].isin(life_death_ratio["index"])]

In [60]:
vaccination_data.shape

(227, 16)

In [61]:
life_death_ratio.shape

(227, 13)

In [63]:
life_death_ratio.corr()

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_40469/203666698.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  life_death_ratio.corr()

,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
WHO Region,1.000000,0.106995,0.173976,0.050738,NaN,0.762357,0.146595,0.246696,0.100998,NaN,NaN
Cases - cumulative total,0.106995,1.000000,0.015741,0.120308,NaN,0.015078,0.449997,-0.054198,0.084659,NaN,NaN
Cases - cumulative total per 100000 population,0.173976,0.015741,1.000000,0.383568,NaN,0.280223,0.119541,0.103507,0.245368,NaN,NaN
Cases - newly reported in last 7 days,0.050738,0.120308,0.383568,1.000000,NaN,0.078232,0.196995,0.014874,0.896383,NaN,NaN
Cases - newly reported in last 7 days per 100000 population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cases - newly reported in last 24 hours,0.762357,0.015078,0.280223,0.078232,NaN,1.000000,0.278172,0.326846,0.136669,NaN,NaN
Deaths - cumulative total,0.146595,0.449997,0.119541,0.196995,NaN,0.278172,1.000000,-0.038439,0.174567,NaN,NaN
Deaths - cumulative total per 100000 population,0.246696,-0.054198,0.103507,0.014874,NaN,0.326846,-0.038439,1.000000,0.341703,NaN,NaN
Deaths - newly reported in last 7 days,0.100998,0.084659,0.245368,0.896383,NaN,0.136669,0.174567,0.341703,1.000000,NaN,NaN
Deaths - newly reported in last 7 days per 100000 population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deaths - newly reported in last 24 hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
life_death_ratio.rename(columns={'index': "COUNTRY"}, inplace = True)

/var/folders/6j/0k58mfdd4n77p9l0ggh148rw0000gp/T/ipykernel_40469/3962416459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_death_ratio.rename(columns={'index': "COUNTRY"}, inplace = True)

In [67]:
life_death_ratio

,COUNTRY,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
1,United States of America,Americas,103436829,31249.547,0,0.000,0,1136920,343.478,0,0.000,0,NaN
2,China,Western Pacific,99316932,6750.344,284,0.019,0,121764,8.276,0,0.000,0,NaN
3,India,South-East Asia,45001052,3260.935,1372,0.099,0,533291,38.644,1254,0.091,0,NaN
4,France,Europe,38997490,59959.831,0,0.000,0,167985,258.282,0,0.000,0,NaN
5,Germany,Europe,38437756,46217.718,0,0.000,0,174979,210.395,0,0.000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Niue,Western Pacific,887,54820.766,0,0.000,0,0,0.000,0,0.000,0,NaN
231,Saba,Americas,837,43300.569,0,0.000,0,2,103.466,0,0.000,0,NaN
233,Tokelau,Western Pacific,80,5925.926,0,0.000,0,0,0.000,0,0.000,0,NaN
235,Pitcairn Islands,Western Pacific,4,8000.000,0,0.000,0,0,0.000,0,0.000,0,NaN
237,Turkmenistan,Europe,0,0.000,0,0.000,0,0,0.000,0,0.000,0,NaN

In [68]:
vaccination_data.merge(life_death_ratio, how = "inner", on = "COUNTRY")

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,...,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Andorra,AND,EURO,REPORTING,2023-09-24,157072.0,57913,203.300,73.276,53501,...,62143.273,0,0.0,0,159,205.785,0,0.0,0,NaN
1,Anguilla,AIA,AMRO,REPORTING,2023-06-02,24611.0,10854,164.051,72.350,10380,...,26023.197,0,0.0,0,12,79.989,0,0.0,0,NaN
2,Bahamas,BHS,AMRO,REPORTING,2023-06-02,366359.0,174810,93.163,44.453,166972,...,9684.572,0,0.0,0,844,214.625,0,0.0,0,NaN
3,Barbados,BRB,AMRO,REPORTING,2023-06-02,381721.0,163846,132.830,57.015,155036,...,38306.046,0,0.0,0,620,215.746,0,0.0,0,NaN
4,Belarus,BLR,EURO,REPORTING,2023-09-03,22511000.0,6440777,238.200,67.244,6356035,...,10519.666,0,0.0,0,7118,75.328,0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Spain,ESP,EURO,REPORTING,2023-09-03,112886307.0,41332084,238.500,87.138,37485721,...,29536.378,0,0.0,0,121852,257.438,0,0.0,0,NaN
223,Switzerland,CHE,EURO,REPORTING,2023-07-02,16755985.0,6096600,193.600,70.145,5723066,...,51037.851,0,0.0,0,14073,162.607,0,0.0,0,NaN
224,Syrian Arab Republic,SYR,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,...,328.119,0,0.0,0,3163,18.074,0,0.0,0,NaN
225,Timor-Leste,TLS,SEARO,REPORTING,2023-10-18,2025301.0,886195,153.613,67.215,801019,...,1779.369,0,0.0,0,138,10.467,0,0.0,0,NaN
226,Viet Nam,VNM,WPRO,REPORTING,2023-06-30,266492149.0,90272853,273.779,92.741,85961564,...,11941.822,0,0.0,0,43206,44.387,0,0.0,0,NaN

In [ ]:
# HW: analyze the same pattern in another jupyter notebook on the same data