!pip install pandas==1.5.3

In [27]:
import pandas as pd


A=(range(1,11))
index_ = ['A','B','C','D','E','F','G','H','I','J']
pd.Series(A,index=index_)

A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J    10
dtype: int64

In [28]:
Dict = dict(zip(index_,A))

In [29]:
f=pd.Series(Dict)

In [32]:
f[f.between(2,8)==True] # slicing of series or dataframe

B    2
C    3
D    4
E    5
F    6
G    7
H    8
dtype: int64

In [33]:
f.count()

10

## Data Frame -> Tabular data ,multidimetional array/list, collection of series

In [36]:
Dict ={'ABC':[1,2,3],'CDE':[4,5,6]}

In [38]:
df = pd.DataFrame(Dict)

In [41]:
df['GHI'] = df['CDE']+df['ABC']

In [44]:
df['GHI'] = df.apply(lambda x : x['ABC']%2==0,axis=1)

In [46]:
df[df['GHI']==True]

   ABC  CDE   GHI
1    2    5  True