In [1]:
import pandas as pd

In [2]:
deaths_data = pd.read_csv("WHO-COVID-19-global-table-data.csv")

In [3]:
vaccination_data = pd.read_csv("vaccination-data.csv")

In [4]:
deaths_data

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
Global,NaN,771549718,9898.59161,31939,0.409761,0,6974473,89.478952,1359,0.017435,0,NaN
United States of America,Americas,103436829,31249.54700,0,0.000000,0,1136920,343.478000,0,0.000000,0,NaN
China,Western Pacific,99316932,6750.34400,284,0.019000,0,121764,8.276000,0,0.000000,0,NaN
India,South-East Asia,45001052,3260.93500,1372,0.099000,0,533291,38.644000,1254,0.091000,0,NaN
France,Europe,38997490,59959.83100,0,0.000000,0,167985,258.282000,0,0.000000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Tokelau,Western Pacific,80,5925.92600,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Holy See,Europe,26,3213.84400,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Pitcairn Islands,Western Pacific,4,8000.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Democratic People's Republic of Korea,South-East Asia,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Turkmenistan,Europe,0,0.00000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN

In [5]:
deaths_data["Deaths - cumulative total"].max()

672.404

In [6]:
deaths_data.columns

Index(['Name', 'WHO Region', 'Cases - cumulative total',
       'Cases - cumulative total per 100000 population',
       'Cases - newly reported in last 7 days',
       'Cases - newly reported in last 7 days per 100000 population',
       'Cases - newly reported in last 24 hours', 'Deaths - cumulative total',
       'Deaths - cumulative total per 100000 population',
       'Deaths - newly reported in last 7 days',
       'Deaths - newly reported in last 7 days per 100000 population',
       'Deaths - newly reported in last 24 hours'],
      dtype='object')

In [7]:
vaccination_data.describe()

,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
count,2.280000e+02,2.290000e+02,224.000000,229.000000,2.290000e+02,229.000000,0.0,225.000000,2.130000e+02,213.000000
mean,5.935731e+07,2.444375e+07,157.521536,64.019803,2.252446e+07,59.054135,NaN,5.004444,1.167233e+07,32.381944
std,2.839890e+08,1.138834e+08,84.387226,25.280910,1.084299e+08,25.317615,NaN,2.925409,6.096235e+07,25.256792
min,1.170000e+02,0.000000e+00,0.348000,0.000000,0.000000e+00,0.000000,NaN,1.000000,0.000000e+00,0.000000
25%,4.736552e+05,1.923710e+05,87.040000,45.654000,1.848010e+05,39.850000,NaN,3.000000,4.599500e+04,8.574000
50%,4.749752e+06,2.740227e+06,161.055500,68.860000,2.484985e+06,63.703000,NaN,5.000000,6.465040e+05,30.681000
75%,2.336545e+07,1.088471e+07,223.542500,82.616000,9.574047e+06,78.353000,NaN,7.000000,4.474108e+06,53.030000
max,3.516881e+09,1.318027e+09,469.778000,163.185000,1.284480e+09,163.185000,NaN,12.000000,8.340601e+08,145.944000

In [8]:
vaccination_data.iloc[45:54]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
45,Lithuania,LTU,EURO,REPORTING,2023-10-01,4532726.0,1956489,162.200,69.878,1907062,67.964,NaN,2020-12-23,5.0,902114.0,32.149
46,Malawi,MWI,AFRO,REPORTING,2023-09-24,8503954.0,5433538,44.454,28.403,4288014,22.415,NaN,2021-03-11,2.0,1232829.0,6.444
47,Maldives,MDV,SEARO,REPORTING,2023-05-25,951764.0,399308,176.075,73.872,385167,71.255,NaN,2021-02-01,8.0,167289.0,30.948
48,Malta,MLT,EURO,REPORTING,2023-09-03,1280176.0,450535,248.800,86.480,444904,85.399,NaN,2020-12-23,4.0,352640.0,67.689
49,Netherlands,NLD,EURO,REPORTING,2023-10-01,37561429.0,12582081,215.800,72.285,11767842,66.898,NaN,2020-12-30,8.0,9416761.0,53.533
50,Niger,NER,AFRO,REPORTING,2023-07-30,7372208.0,6248483,30.455,25.813,5483001,22.651,NaN,2021-03-29,2.0,NaN,NaN
51,Romania,ROU,EURO,REPORTING,2023-09-10,16111239.0,8188146,83.400,42.999,8142376,42.759,NaN,2021-01-27,4.0,1768917.0,9.289
52,Saint Vincent and the Grenadines,VCT,AMRO,REPORTING,2023-06-02,73443.0,37532,66.201,33.831,31632,28.513,NaN,2021-02-01,5.0,4279.0,3.857
53,Slovakia,SVK,EURO,REPORTING,2023-10-01,7222567.0,2840027,132.300,52.257,2791711,51.368,NaN,2020-12-23,7.0,1686463.0,31.031

In [9]:
deaths_data.loc["Romania"]

Name                                                               Europe
WHO Region                                                        3485792
Cases - cumulative total                                        18034.152
Cases - cumulative total per 100000 population                          0
Cases - newly reported in last 7 days                                 0.0
Cases - newly reported in last 7 days per 100000 population             0
Cases - newly reported in last 24 hours                             68455
Deaths - cumulative total                                          354.16
Deaths - cumulative total per 100000 population                         0
Deaths - newly reported in last 7 days                                0.0
Deaths - newly reported in last 7 days per 100000 population            0
Deaths - newly reported in last 24 hours                              NaN
Name: Romania, dtype: object

In [10]:
deaths_data[deaths_data["Name"].isin(vaccination_data.COUNTRY)]

Empty DataFrame
Columns: [Name, WHO Region, Cases - cumulative total, Cases - cumulative total per 100000 population, Cases - newly reported in last 7 days, Cases - newly reported in last 7 days per 100000 population, Cases - newly reported in last 24 hours, Deaths - cumulative total, Deaths - cumulative total per 100000 population, Deaths - newly reported in last 7 days, Deaths - newly reported in last 7 days per 100000 population, Deaths - newly reported in last 24 hours]
Index: []

In [11]:
deaths_data[deaths_data["Name"] == "Europe"]

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
France,Europe,38997490,59959.831,0,0.000,0,167985,258.282,0,0.000,0,NaN
Germany,Europe,38437756,46217.718,0,0.000,0,174979,210.395,0,0.000,0,NaN
Italy,Europe,26202253,43932.930,4580,7.679,0,192210,322.276,25,0.042,0,NaN
The United Kingdom,Europe,24789488,36516.346,2002,2.949,0,230669,339.789,0,0.000,0,NaN
Russian Federation,Europe,23098734,15828.156,19922,13.651,0,400195,274.229,50,0.034,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Tajikistan,Europe,17786,186.482,0,0.000,0,125,1.311,0,0.000,0,NaN
Monaco,Europe,17072,43502.191,0,0.000,0,67,170.727,0,0.000,0,NaN
Greenland,Europe,11971,21086.099,0,0.000,0,21,36.990,0,0.000,0,NaN
Holy See,Europe,26,3213.844,0,0.000,0,0,0.000,0,0.000,0,NaN
Turkmenistan,Europe,0,0.000,0,0.000,0,0,0.000,0,0.000,0,NaN